<!---HTML Acerca de mí-->
<div class="row" style="background-color: #FFF0E0;">
    <h2>Acerca de mí</h2>
    <div class="col-xs-0 col-md-2"></div>
    <div class="col-xs-12 col-md-2">
        <img [src]="persona.imgProfile" alt="foto de perfil" class="rounded-circle img-fluid">
    </div>
    <div class="col-xs-12 col-md-6">
        <h6>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit suscipit dolores, fuga voluptate
            illum itaque officia nulla quas quod quisquam repudiandae ipsum! Impedit eum ut quas ex repudiandae
            adipisci voluptatum!</h6>
    </div>
    <div class="col-xs-0 col-md-2"></div>
</div>