<!--Proyectos-->
<div class="row">
  <div class="container-fluid text-box col-md-10">
    <hr class="col-md-12">
    <div class="text">
      <div class="col-md-6">
        <h2>Proyectos</h2>
        <!-- LOGIN -->
        <!-- <button type="button" *ngIf="isLogged" class="btn btn-outline-secondary float-end" data-bs-toggle="modal"
          data-bs-target="#newSklModal"><i class="fa-solid fa-plus"></i></button> -->
        <button type="button" class="btn btn-outline-secondary float-end" data-bs-toggle="modal"
          data-bs-target="#newSklModal"><i class="fa-solid fa-plus"></i></button>
      </div>

      <div class="col-md-5" style="padding-left: 15px;">
        <h3>Proyecto1</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, repellendus enim eos quo possimus illo
          similique cum necessitatibus hic, alias nostrum quos velit sit optio, fuga impedit porro excepturi quaerat!
        </p>
        <img src="../../../assets/img/banner2.png" class="img-fluid">
      </div>

    </div>
  </div>

  <!--CÓDIGO ANTERIOR
<div class="row">
  <h2>Proyectos</h2>
  <div class="col-xs-12 col-md-6 part1">
    <h3>Proyecto1</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis, repellendus enim eos quo possimus illo
      similique cum necessitatibus hic, alias nostrum quos velit sit optio, fuga impedit porro excepturi quaerat!
    </p>
  </div>
  <div class="col-xs-12 col-md-5 offset-md-1 parte2">
    <img src="../../../assets/img/banner2.png" class="img-fluid imgProject">
  </div>
</div>
-->