<!-- The Bee and Jupiter -->
<div class="container-fluid section-bee-jupiter" id="laureljan">
    <div class="container colophon">
        <a href="https://twitter.com/laureljan" class="avatar" target="_blank" title="laureljan"><img
                src="https://pbs.twimg.com/profile_images/1230569180023230465/xtNy4pNj_400x400.jpg" alt="laureljan"></a>
        <div class="caption"><a href="https://www.google.com/fonts/specimen/Yeseva+One" target="_blank">Yeseva One</a>,
            <a href="https://www.google.com/fonts/specimen/Merriweather+Sans" target="_blank">Merriweather Sans</a>, <a
                href="https://www.google.com/fonts/specimen/Merriweather">Merriweather</a>
        </div>
    </div>
    <div class="container">
        <img alt="Bee without stinger" class="beewithoutstinger beesvg"
            src="https://femmebot.github.io/google-type/images/the-bee-and-jupiter/bee_fill.svg">
        <hr>
        <div class="texto">
            <h2>The Bee<br><span class="ampersand">&amp; </span>Jupiter</h2>
            <p>
                A Queen Bee from Hymettus flew up to Olympus with some fresh honey from the hive as a present to
                Jupiter,
                who was so pleased with the gift that he promised to give her anything she liked to ask for. She said
                she
                would be very grateful if he would give stings to the bees, to kill people who robbed them of their
                honey.
                Jupiter was greatly displeased with this request, for he loved mankind: but he had given his word, so he
                said that stings they should have. The stings he gave them, however, were of such a kind that whenever a
                bee
                stings a man the sting is left in the wound and the bee dies.
            </p>
        </div>
        <hr>
        <h3>Evil wishes, like fowls,<br>come home to roost.</h3>
        <div class="jupiterbee">
            <img alt="Bee with stinger" class="beewithstinger beesvg"
                src="https://femmebot.github.io/google-type/images/the-bee-and-jupiter/bee_fill_stinger.svg">
        </div>
    </div>
</div>
<!-- end The Bee and Jupiter -->