<!--Educación-->
<div class="row">
  <div class="container-fluid text-box">
    <img alt="Bee without stinger" class="beewithoutstinger beesvg"
      src="https://femmebot.github.io/google-type/images/the-bee-and-jupiter/bee_fill.svg">
    <hr>
    <div class="text">
      <h2>Educación</h2>
      <div>
        <ul>
          <li>
            <h3>Estudio 1</h3> - <h4>20XX</h4>
          </li>
        </ul>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab recusandae culpa est voluptatum, consequuntur
          facilis obcaecati tempora laboriosam molestiae vitae dolore ut provident repellat esse assumenda dolores?
          Provident, repudiandae culpa!</p>
        <ul>
          <li>
            <h3>Estudio 2</h3> - <h4>20XX</h4>
          </li>
        </ul>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab recusandae culpa est voluptatum, consequuntur
          facilis obcaecati tempora laboriosam molestiae vitae dolore ut provident repellat esse assumenda dolores?
          Provident, repudiandae culpa!</p>
        <ul>
          <li>
            <h3>Estudio 3</h3> - <h4>20XX</h4>
          </li>
        </ul>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab recusandae culpa est voluptatum, consequuntur
          facilis obcaecati tempora laboriosam molestiae vitae dolore ut provident repellat esse assumenda dolores?
          Provident, repudiandae culpa!</p>
      </div>
    </div>
  </div>
</div>


<!-- CÓDIGO ANTERIOR-->
<!--<section>
    <div class="container">
      <h2>Educación</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores nemo consequuntur consequatur recusandae necessitatibus architecto id nesciunt ducimus tempore est repudiandae quidem totam fugiat ea, iusto magni perferendis earum quibusdam?</p>
    </div>
    </section>-->


<!-- CÓDIGO BEE-->
<!--<section class="mt-5">
  <div class="container">
    <div class="row">
      <hr>
      <div class="col-xs-12 col-md-4">
        <h2>Educación<br></h2>
      </div>
      <div class="col-xs-12 col-md-8">
        <p>
          A Queen Bee from Hymettus flew up to Olympus with some fresh honey from the hive as a present to Jupiter, who
          was
          so pleased with the gift that he promised to give her anything she liked to ask for. She said she would be
          very
          grateful if he would give stings to the bees, to kill people who robbed them of their honey. Jupiter was
          greatly
          displeased with this request, for he loved mankind: but he had given his word, so he said that stings they
          should
          have. The stings he gave them, however, were of such a kind that whenever a bee stings a man the sting is left
          in
          the wound and the bee dies.
        </p>
      </div>
      <hr>
    </div>
  </div>
</section>-->