<!--Educación-->
<div class="row">
  <div class="container-fluid text-box col-md-10">
    <img alt="Bee without stinger" class="beewithoutstinger beesvg"
      src="https://femmebot.github.io/google-type/images/the-bee-and-jupiter/bee_fill.svg">
    <hr class="col-md-12">
    <div class="text">
      <div class="col-md-6">
        <h2>Educación</h2>
        <!-- LOGIN -->
        <!-- <button type="button" *ngIf="isLogged" class="btn btn-outline-secondary float-end" data-bs-toggle="modal"
          data-bs-target="#newEduModal"><i class="fa-solid fa-plus"></i></button> -->
        <button type="button" class="btn btn-outline-secondary float-end" data-bs-toggle="modal"
          data-bs-target="#newEduModal"><i class="fa-solid fa-plus"></i></button>
      </div>

      <div class="col-md-5">
        <table class="table align-middle mb-0">
          <tbody>
            <tr>
              <td class="d-flex align-items-center">
                <div>
                  <p class="fw-bold mb-1">Institution</p>
                  <p class="fw-normal mb-1">Degree</p>
                </div>
              </td>
              <td>
                <span class="badge badge-warning rounded-pill d-inline">Year</span>
              </td>
              <td>
                <div class="d-flex justify-content-end">
                  <button type=" button" class="btn btn-outline-secondary" data-bs-toggle="modal"
                    data-bs-target="#editEduModal"><i class="fa-solid fa-pencil"></i></button>
                  <!-- <button type="button" class="btn btn-outline-secondary" style="margin: 0px 5px;"><i
                    class="fa-solid fa-trash-can" (click)="delete(edu.id)"></i></button> -->
                  <button type="button" class="btn btn-outline-secondary" style="margin: 0px 5px;"><i
                      class="fa-solid fa-trash-can"></i></button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>