<!--Skills-->
<div class="row">
  <div class="container-fluid text-box">
    <hr>
    <div class="text">
      <div>
        <h2>Habilidades</h2>
        <!-- LOGIN -->
        <!-- <button type="button" *ngIf="isLogged" class="btn btn-outline-secondary float-end" data-bs-toggle="modal"
          data-bs-target="#newSklModal"><i class="fa-solid fa-plus"></i></button> -->
        <button type="button" class="btn btn-outline-secondary float-end" data-bs-toggle="modal"
          data-bs-target="#newSklModal"><i class="fa-solid fa-plus"></i></button>
      </div>
      <div class="container">
        <!--Hard Skills-->
        <!-- <h3>Hard</h3>
          <hr> -->
        <div class="hard-skills" *ngFor="let skill of skills">
          <div>
            <div class="text mb-1">
              <h3>{{skill.name}}</h3>
              <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal"
                data-bs-target="#newSklModal"><i class="fa-solid fa-pencil"></i></button>
              <button type="button" class="btn btn-outline-secondary" style="margin: 0px 5px;"><i
                  class="fa-solid fa-trash-can" (click)="delete(skill.id)"></i></button>
            </div>
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" aria-label="Success example"
                [style.width.%]="skill.percentage" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                {{skill.percentage}}%</div>
            </div>

          </div>
        </div>
        <!--Soft Skills-->
        <!-- <div class="soft-skills">
          <h3>Soft</h3>
          <hr>
          <h4>Habilidad-Soft 2</h4>
          <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" aria-label="Success example"
              style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  <app-new-skl></app-new-skl>