.row {
    background-color: #F2D653;
    padding-left: 150px;
    padding-bottom: 80px;
    padding-right: 150px;
}

h2 {
    font-family: 'Libre Baskerville', Georgia, serif;
    text-align: center;
    font-style: italic;
    font-size: 3em;
    margin-bottom: 20px;

}

p {
    font-family: 'Inter', sans-serif;
    text-align: justify;
    color: #37424A;
    width: auto;

}

h3 {
    font-family: 'Libre Baskerville';
    font-style: italic;
    text-align: center;
}

.progress {
    margin-bottom: 15px;
    background-color: transparent;
}