<!--Experiencia-->
<div class="row">
  <h2>Experiencia</h2>
  <div>
    <ul>
      <li>
        <h3>Trabajo 1</h3> - <h4>20XX</h4>
      </li>
    </ul>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab recusandae culpa est voluptatum, consequuntur
      facilis obcaecati tempora laboriosam molestiae vitae dolore ut provident repellat esse assumenda dolores?
      Provident, repudiandae culpa!</p>
    <ul>
      <li>
        <h3>Trabajo 2</h3> - <h4>20XX</h4>
      </li>
    </ul>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab recusandae culpa est voluptatum, consequuntur
      facilis obcaecati tempora laboriosam molestiae vitae dolore ut provident repellat esse assumenda dolores?
      Provident, repudiandae culpa!</p>
    <ul>
      <li>
        <h3>Trabajo 3</h3> - <h4>20XX</h4>
      </li>
    </ul>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab recusandae culpa est voluptatum, consequuntur
      facilis obcaecati tempora laboriosam molestiae vitae dolore ut provident repellat esse assumenda dolores?
      Provident, repudiandae culpa!</p>
  </div>
</div>

<!-- CÓDIGO ANTERIOR
  <section>
    <div class="container">
      <h2>Experiencia</h2>
      <ul class="items-list">
        <li *ngFor="let experience of experienceList">
          <div>
            <h3>{{experience.company}}</h3>
            <p>{{experience.position}}</p>
            <p><time>{{experience.start}}</time> - <time>{{experience.end}}</time></p>
          </div>
        </li>

      </ul>
    </div>
</section>-->