<!--Experiencia-->
<div class="row">
  <div class="container-fluid text-box">
    <hr>
    <div class="text">
      <div>
        <h2>Experiencia</h2>
        <!-- <button type="button" class="btn btn-outline-secondary float-end" routerLink="/new" *ngIf="isLogged"> -->
        <!-- <button type="button" class="btn btn-outline-secondary float-end" routerLink="/pruebas">
          Nueva
        </button> -->
      </div>
      <div>
        <button type="button" class="btn btn-outline-secondary float-end" data-bs-toggle="modal"
          data-bs-target="#newExpModal">Nueva</button>
        <table class="table">
          <tbody>
            <tr *ngFor="let Experience of exp">
              <td>{{Experience.employer}}</td>
              <td>{{Experience.position}}</td>
              <td>{{Experience.startDate}}</td>
              <td>{{Experience.endDate}}</td>
              <td>Editar</td>
              <td>Borrar</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <app-new-exp></app-new-exp>


  <!-- CÓDIGO ESTÁTICO -->
  <!--
<div class="row">
  <div class="container-fluid text-box">
    <hr>
    <div class="text">
      <h2>Experiencia</h2>
      <div>
        <ul>
          <li>
            <h3>Trabajo 1</h3> - <h4>20XX</h4>
          </li>
        </ul>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab recusandae culpa est voluptatum, consequuntur
          facilis obcaecati tempora laboriosam molestiae vitae dolore ut provident repellat esse assumenda dolores?
          Provident, repudiandae culpa!</p>
        <ul>
          <li>
            <h3>Trabajo 2</h3> - <h4>20XX</h4>
          </li>
        </ul>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab recusandae culpa est voluptatum, consequuntur
          facilis obcaecati tempora laboriosam molestiae vitae dolore ut provident repellat esse assumenda dolores?
          Provident, repudiandae culpa!</p>
        <ul>
          <li>
            <h3>Trabajo 3</h3> - <h4>20XX</h4>
          </li>
        </ul>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab recusandae culpa est voluptatum, consequuntur
          facilis obcaecati tempora laboriosam molestiae vitae dolore ut provident repellat esse assumenda dolores?
          Provident, repudiandae culpa!</p>
      </div>
    </div>
  </div>
</div>
-->